<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @thin_post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @thin_post.body %>
</p>r

<%= link_to 'Edit', edit_thin_post_path(@thin_post) %> |
<%= link_to 'Back', thin_posts_path %>
